/* css reset */
* {
  margin: 0;
  padding: 0;
}

main {
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

.book-list ul {
  margin: 1rem auto;
  border: 2px solid black;
}

.book-list ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.book-list ul li:nth-child(odd) {
  background-color: #e4dcdc;
}

button {
  padding: 0.3rem;
}

button:hover {
  cursor: pointer;
}
